/vendor
/node_modules
.env
.env.*
*.log
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage
.phpunit.result.cache
Homestead.json
Homestead.yaml
.DS_Store
Thumbs.db
